*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
#home{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url(img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    /* margin: 0 auto; */
    padding: 2rem 0;
}
.logo a{
    color: white;
    font-size: 30px;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li a{
    color: rgba(225, 225, 225, 0.8);
    font-size: 15px;
    margin: 0 15px;
}

.nav-social a{
    color: white;
    margin: 0 10px;
}

#home main{
    text-align: center;
    max-width: 800px;
    margin: 5rem auto;
}
#home main h1{
    font-size: 3rem;
    margin: 2rem 0;
}
button{
    padding: 15px 20px;
    background: linear-gradient(to right, rgb(161, 74, 161), rgb(79, 79, 255));
    border: none;
    transition: 1s ease-out;
}
button a{
    font-size: 1rem;
    color: white;
}
button:hover{
    background: rgb(50, 50, 233);
}

p{
    line-height: 30px;
    opacity: 0.5;
    font-size: 17px;
    margin: 20px 0;
}


#brand{
    width: 100%;
    min-height: 70vh;
}
.brand-body{
    align-items: center;
    /* width: 70%; */
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}
.brand-text{
    max-width: 50%;
}
.brand-text h1{
    font-size: 2rem;
    /* margin: 20px 0; */
}

.brand-body img{
    border-radius: 15px;
    margin-left: 30px;
    max-width: 500px;
    /* height: 500px; */
}


#about{
    width: 100%;
    /* min-height: 60vh; */
    background: rgb(250, 250, 250);
}

.about-top{
    text-align: center;
    max-width: 800px;
    margin: 5rem auto;
}
.about-top h2{
    font-size: 2rem;
}
.about-flex{
    display: flex;
    justify-content: space-between;

}
.about-note{
    margin: 0 2rem;
    text-align: center;
}
.about-note a{
    border-radius: 50%;
    padding: 10px 20px;
    box-shadow: 0 0 15px rgb(190, 189, 189);
    font-size: 50px;
    color: rgb(59, 144, 255);
}
.about-note h2{
    margin-top: 50px;
}



#works{
    width: 100%;
    min-height: 100vh;
}
.work-text{
    margin-top: 100px;
    text-align: center;
}
.work-text h2{
    font-size: 35px;
}
.work-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imgSlide{
    position: relative;
    margin-top: 50px;
    width: 30%;
    margin: 2rem auto;
    overflow: hidden;
}
.imgSlide img{
    width: 100%;
    height: 100%;
}
.imgSlide-text{
    text-align: center;
    background: white;
    padding-top: 20px;
    width: 94%;
    height: 94%;
    margin: 0 auto;
    position: absolute;
    top: 3%;
    left: 3%;
    opacity: 0;
    transition: .5s ease;
}
.imgSlide-text:hover{
    opacity: 1;
}
.btn{
    margin-top: 30px;
    text-align: center;
    /* margin-left: 45%; */
}
